<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
	<clear />
	<add name="ConnStr"
		providerName="System.Data.ProviderName"
		connectionString="Server=localhost;Database=sysobjects;User ID=sa;Password=P@ssw0rd" />
  </connectionStrings>
</configuration>